.bg-posts {
  background-image: url("../../images/bgPosts.webp");
 background-attachment: fixed;
 min-height: 100vh;
 background-size: 100vw 100vh;
}
.bg-apply {
  background-image: url("../../images/bgapply.webp");
 background-attachment: fixed;
 background-size: 100% 100%;
 min-height: 100vh;
}
.bg-society {
  background-image: url("../../images/bgsoc.webp");
 background-attachment: fixed;
 background-size: 100% 100%;
 min-height: 100vh;
}
.bg-mypostulations {
  background-image: url("../../images/mypostulations.jpg");
 background-attachment: fixed;
 background-size: 100% 100%;
 min-height: 100vh;
}
.bg-upgrade {
  background-image: url("../../images/bgUpdate.webp");
 background-attachment: fixed;
 background-size: 100% 100%;
 min-height: 100vh;
}
.drop {
  background-color: transparent;
  backdrop-filter: blur(8px);
}
